.hidden { 
    display: none; 
}

body { 
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dff6eb;
  color: white;
}

/* main header rules */
header {
    background-color: #28d586;
    padding: 30px 0; 
}

#main-logo { 
    width: 350px; 
    display: block;
    margin: 0 auto;
}

/* main rules */
#character_nav {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #dff6eb;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
}

#characters { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
}

#characters li { 
    display: inline-block;
    flex: 0 0 auto;
    cursor: pointer;
}

#characters li img {
    width: 180px;
    height: auto;
    border-radius: 20px;
    padding: 7px;
    border: solid 1px #fff;
    transition: all .5s ease-in-out;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

#characters li a { 
    text-decoration: none; 
}

#characters li img:hover { 
    filter: brightness(120%);
    border-radius: 50%;
}

#instructions { 
    color: #303030;
    padding: 5px 10px 20px 20px; 
    background-image: url('../images/background2.png');
}

#instructions h3  {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

#instructions p {  
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}


/* footer rules */
footer {
    color: #303030;
    padding: 20px 0;
    text-align: center;
}

#main-footer {
    height: 60px;
    background-color: white;
}

/* LightBox rules */

.lightbox {
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.85);
    display: none;
    background-repeat: no-repeat;
    background-size: 50vh;
    background-position: 10% 40px; 
}

.lightbox:target {
    display: block;
}

#lightbox1 {
    background-image: url(../images/red2.png);                  
    background-position: 10% 30px; 
}

#lightbox2 {
    background-image: url(../images/blue3.png);
    background-size: 60vh;
    background-position: 10% 70px; 
}

#lightbox3 {
    background-image: url(../images/yellow2.png);
}

#lightbox4 {
    background-image: url(../images/winged2.png);
    background-size: 60vh;
    background-position: 10% 70px; 
}

#lightbox5 {
    background-image: url(../images/purple4.png);
    background-size: 60vh;
    background-position: 10% 70px; 
}

#lightbox6 {
    background-image: url(../images/rock5.png);
    background-size: 60vh;
    background-position: 10% 70px; 
}


.lightbox-close {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 80vw;
    margin-top: 35px;
    display: inline-block;
    transition: all .5s ease-in-out;
}

.lightbox-close:hover {
    color: #28d586;
}

.lightbox section {
    width: 600px;
    margin-left: 40%;
    margin-top: 50px;
}

.lb-heading {
    font-size: 32px;
}

.scientific-name {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
}

.lightbox p{
    line-height: 26px;
}